.button-container {
    min-width: 165px;
    width: auto;
    height: 50px;
    letter-spacing: 0.5px;
    line-height: 50px;
    padding: 0 35px 0 35px;
    font-size: 15px;
    background-color: black;
    color: white;
    text-transform: uppercase;
    font-family: 'Titillium Web', sans-serif;
    font-weight: bolder;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    transition: 0.3s;
  
    &:hover {
      background-color: white;
      color: black;
      border: 1px solid black;
    }
  
    &.google-sign-in {
      background-color: #4285f4;
      color: white;
  
      &:hover {
        background-color: #357ae8;
        border: none;
      }
    }
  
    &.inverted {
      background-color: white;
      color: black;
      border: 1px solid black;
  
      &:hover {
        background-color: black;
        color: white;
        border: none;
      }
    }

    &.shop {
      background-color: rgba(255, 255,255, 0.4);
      color: white;
      border: 1px solid #545454;
      
      &:hover {
        background-color: rgba(255, 255,255, 0.6);
        color: white;
        border: 1px solid #545454;
      }
    }

    &.nav{
      min-width: 20px;
      width: 40px;
      height: 40px;
      font-size: 25px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: rgba(255, 255,255, 0.6);
      color: black;
      
      &:hover{
        border: none;
        color: rgba(83, 83, 83, 0.6);
      }
    }


    &.payment{
      min-width: 50px;
      height: 50px;
      font-size: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: rgba(255, 255,255, 0.6);
      color: #b6997d;
      border: 1px solid #b6997d ;
      margin-left: auto;
      margin-top: 30px;
      
      
      &:hover{
        color: #927459;
        border: 1px solid #b6997d ;
        background-color: rgba(255, 255,255, 0.6);

      }
    }
  }
  