.category-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 20px;
    row-gap:50px;
    justify-items: center;
}

.category-title{
    font-size: 30px;
    margin-bottom: 25px;
    text-align: center;
    }

.shop-wrap{
    max-width: 1350px;
    min-width: 375px;
    margin: 0 auto;
}