.product-card-container {
    width: 300px;
    display: flex;
    flex-direction: column;
    // height: 280px;
    align-items: center;
    position: relative;
    padding-bottom: 5px;
    border: 1px solid #dedbdb;
  
    img {
      width: 100%;
      object-fit: scale-down;
      margin-bottom: 5px;
    }

    .img-hover{
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      object-fit: contain;
      opacity: 0;
      transition: opacity .4s;
      
    }
  
    button {
      width: 80%;
      opacity: 0.7;
      position: absolute;
      top: 250px;
      display: none;
    }
  
    &:hover {
      img {
        opacity: 0.8;
      }

      .img-hover{
        opacity: 1;
      }
  
      button {
        opacity: 0.85;
        display: flex;
      }
    }
  
    .footer {
      width: 100%;
      display: flex;
      justify-content: space-between;
      font-size: 18px;
  
      .name {
        width: 85%;
        margin-bottom: 15px;
        margin-left: 10px;
      }
  
      .price {
        width: 15%;
        font-weight: bold;
      }
    }
  }
  