.foot-section{
    min-width: 400px;
    background-color: #fbfaf9;
    height: auto;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
}


.footer-container{
    display: flex;
    justify-content: space-evenly;
    img{
        width: 10rem;
    }

    ul li {
        display: inline;
        list-style: none;
        font-size: larger;

        font-size: 18px;
        margin: 10px 15px;
        position: relative;
        text-decoration: none;
        cursor: pointer;
        
        &:hover {
            color: #000;
        }
    
    
        &:before {
            content: "";
            position: absolute;
            display: block;
            width: 100%;
            height: 1px;
            bottom: 0;
            left: 0;
            background-color: #000;
            transform: scaleX(0);
            transition: transform 0.3s ease;
        }
    
        &:hover:before {
            transform: scaleX(1);
        }


    }
    .social-media-icon{
        font-size: 25px;
        color: #545454;
    }
    .footer-logo{
        display: flex;
        justify-content: flex-start;
    }

    .footer-list{
        display: flex;
        justify-content: space-between;
        margin-top: 60px;
    }
}

@media screen and (min-width:100px) and (max-width:480px) {
    .foot-section{
        bottom: auto;
    }
    .footer-list ul li{
        display: block;
        font-size: 18px;
    }
    .footer-list ul .social-media-icon{
        display: inline;
    }

    .footer-logo{
        align-items: center;
        img{
            display: flex;
            width: 140px;
            height: 140px;
        }
    } 

  }

    /* Tablet View */
    @media screen and (min-width:481px) and (max-width:780px) {
    .foot-section{
        bottom: auto;
    }
    .footer-list ul li{
        display: block;
    }
    .footer-list ul .social-media-icon{
        display: inline;
    }

    .footer-logo{
        align-items: center;
        img{
            display: flex;
        }
    } 

  }