* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html{
  height: 100%;
}

body {
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  margin: 0;
  padding-bottom: 14rem;
  min-height: 100%;
}



code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a{
  text-decoration: none;
  color: black;
}

*{
  box-sizing: border-box;
}

.wrapper{
  max-width: 1800px;
  min-width: 375px;
  margin: 0 auto;
  padding: 2rem 2rem;
  
}


@media screen and (min-width:250px) and (max-width:480px) {
  .wrapper{
      min-width: auto;
  }
  
}

// .ext-wrapper{
//   min-width: 375px;
// }